body {
    min-height: 100vh;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

pre {
    border: 1px solid #CCC;
    padding: 1rem;
    border-radius: 20px;
}

input[type="file"] {
    display: none;
}
