body {
    min-height: 100vh;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

pre {
    border: 1px solid #CCC;
    padding: 1rem;
    border-radius: 20px;
}

input[type="file"] {
    display: none;
}

#mvp_score {
    user-select: none;
}

#highlights {
    padding: 1rem !important;
    margin: 1rem 2rem 0 2rem;
    padding: 1rem !important;
    --bs-gutter-x: 1rem;
}

#podium table th {
    width: 10px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}
