body {
    min-height: 100vh;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

sup {
    vertical-align: super;
    font-size: small;
}

pre {
    border: 1px solid #CCC;
    padding: 1rem;
    border-radius: 20px;
}

input[type="file"] {
    display: none;
}

a {
    text-decoration: none;
}

table thead tr th {
    cursor: pointer;
}

#mvp_score {
    user-select: none;
}

#highlights {
    padding: 1rem !important;
    margin: 1rem 2rem 0 2rem;
    padding: 1rem !important;
    --bs-gutter-x: 1rem;
}

#highlights .highlight.blur:not(:first-child) {
    filter: blur(.4rem);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  width: 10em;
  min-width: 10em;
  max-width: 10em;
  word-break: break-all;
}

#podium table thead tr th:first-child,
#podium table tbody tr td:first-child,
#detailsMatchesPlayers thead tr th:first-child,
#detailsMatchesPlayers tbody tr td:first-child,
#detailsScorePlayers thead tr th:first-child,
#detailsScorePlayers tbody tr td:first-child,
#friendlies thead tr th:first-child,
#friendlies tbody tr td:first-child {
    width: 10px !important;
    width: 10px !important;
    min-width: 10px !important;
    max-width: 10px !important;
    word-break: break-all;
}

img.cover {
    z-index: 2;
}

.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #2a357f;
    border-color: #2a357f;
}

.btn-primary:hover {
    color: #29367d;
    background-color: #FFF;
    border-color: #29367d;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #29367d;
    border-color: #29367d;
}

@media (max-width: 768px) {
    .px-5 {
        padding: 0 !important;
    }

    #podium .container {
        padding: 0;
    }

    table {
        position: relative;
        overflow-x: auto;
        display: block;
        max-width: fit-content;
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}
