<div id="match-{{matchId}}">
    <div class="px-4 pt-5 my-5">
        <h1 class="display-4 fw-bold text-center">{{matchName}}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"></p>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button> -->
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Remover Partida</button>
            </div>
        </div>

        <div class="teams overflow-hidden"></div>
    </div>

    <div class="b-example-divider"></div>
</div>
